header {
  font-size: 50px;
  text-align: center;
  padding: 30px;
  font-family: serif;
}

label {
  padding: 20px;
}

img {
  width: 250px;
  height: 200px;
  padding: 20px;
}


img:hover {
  animation-play-state: paused;
}

.giphyRow {
	text-align: center;

}

#animalsView {
	text-align: center;

}