header {
  font-size: 50px;
  text-align: center;
  padding: 30px;
  font-family: serif;
}

label {
  padding: 20px;
}

img {
  width: 250px;
  height: 200px;
  padding: 0px 20px 20px 0px;

}

img:disabled {

}

#findAnimal {
 	position: relative;

}


.gallery {
	display: inline-block;
}

.animal_submit {
	padding-left: 300px;
}
.error {
	color: red;
}
