header {
  font-size: 50px;
  text-align: center;
  padding: 30px;
  font-family: serif;
}

label {
  padding: 20px;
}

img {
  width: 350px;
  height: 300px;
  padding: 20px;
  border-radius: 2px;
}

.gallery {
  display: inline-block;
}

.animal_submit {
  padding-left: 300px;
  position: relative;
}

.error {
  color: red;
}